body{
    text-align: center;
    background-image: url(https://image.freepik.com/photos-gratuite/vue-aerienne-grande-zone-conteneurs-expedition_181624-3151.jpg);
    background-size: cover;
}
.infocontact{
    
}