body{
    text-align: center;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
    url("./images/shipping-containers.jpg");
    background-size: cover;
}
/* ------------------------------header----------------------- */
.introcontact{
    margin-top: 5%;
}
.introcontact h1{
    color: orange;
}
.introcontact p{
    color: white;
    margin-bottom: 5%;
}
/* ---------------------------------section--------------------- */
.infocontact{
    background-color: white;
    padding: 5%;
}
.rondlogo{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: orange;
    color: white;
    display: flex;
    align-items: center;
}
.icones{
    font-size: 50px;
}
.rondflex{
    display: flex;
    align-items: center;
    border: none;
}
.rondflex a{
    color: black;
    font-weight: bold;
}
.rondflex h5{
    padding: 10%;
}
/* ----------------------------------------footer-------------------------- */
footer{
    color: white;
    margin-top: 5%;
}
footer a{
    color: white;
}
